*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#contact{
    position: relative;
    background-color:#f2f2f2 ;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 50%);
    border-radius: 10px;
    margin: 5%;
}
#contact input{
    background-color:#f2f2f2 ;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    color: #2a2438;
}

.form-group {
    margin-top: 60px;
}

/* .form-group{
    height: 50px;
    width: 50px;
} */

#nameEmail-box{
    display: flex;
}


#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    /* border-radius: 9px; */
    font-size: 1.1rem;
}

input,textarea{
    border: none;
    border-bottom: 2px solid #2a2438;
    
}
.contact-submit{
    display: flex;
}
input#name {
    margin-right: 25px;
}


input#phone {
    width: 50%;
}

.form-group-1{
    display: flex;
    
}
.form-group-1 input{
    width: 40%;
    outline: none;
}
.form-group-1 input::placeholder{
    color: #2a2438;
}
/* #contact-box form{
    width: 40%;
} */

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}
#contact-box form{
    width: 40%;
    margin: 5%;
}
.h-primary{
    color: #2a2438;
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    position: relative;
}
.h-primary span{
    position: relative;
}
.h-primary span::after{
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 5px solid #ffca00;
    left: 0;
    bottom: 0;
}

/* @media (max-width:1100px) and (min-width:860px){
    h1::after{left: 36%}; 
}
@media (max-width:860px) and (min-width:0px){
    h1::after{left: 32%}; 
} */

.btn{
    margin: 15% auto;
    padding: 6px 20px;
    background-color:#ffca00;
    color: #2a2438;
    font-size: 1.5rem !important;
    border: none;
    cursor: pointer;
    font-weight: 700 !important;
    display: block;
    border-radius: 11px;
    width: 213px
}

.center{
    text-align: center;
}
h1::after{
    left: 20%;
    width: 15%;
}

#nameEmail-box {
    flex-direction: column;
}
.form-group input::placeholder{
    color: #2A2438;
}
.form-group input{
    outline: none;
}
input#name{
    
    width: 100%;
}
input#email{
    /* margin: 0; */
    width: 100%;
}
input#phone{
    width: 100%;
}

@media screen and (max-width:768px){
    .form-group-1{
        flex-direction: column;
    }
    .form-group-1 input{
        width: 100%;
        margin-top: 60px;
    }
}